#about-container {
  color: white;
  max-width: 1400px;
  margin: 0 auto;

  #about-title {
    margin-bottom: 20px !important;
  }

  .about-content {
    display: flex;
    max-width: inherit;
    width: inherit;

    .about-div {
      padding: 20px;
      margin: 10px;
      border: 2px solid $aqua;
      width: calc((100% /3) - 10px);


      .about-top {
        border: 2px solid $pink;
        // position: absolute;
        width: 100%;
        height: 80%;


        .top-contents{
          width: 100%;
        }



        .img-overlay {
          background-image: url('../assets/boardingCloseup.png');
          width: 100%;
        }


      }

      .about-bottom {
        // border: 2px solid $blue;
        margin: 20px auto;
        // position: absolute;
        width: 100%;

        .about-heading {
          font-size: 35px;
          padding: 10px;
          white-space: nowrap;
        }
        .about-link {
          width: inherit !important;
          // border: 2px solid $yellow;
          border-radius: 6px;
          padding: 10px 60px;
          background:
            linear-gradient($pink, transparent),
            linear-gradient(to top left, $aqua, transparent),
            linear-gradient(to top right, $blue, transparent);
          background-blend-mode: screen;
        }
      }
    }



  }

  .about-text {
    text-align: justify !important;
  }

}