#academics-container {
  color: white;
  // border: solid 2px magenta;

  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;



  .page-title {
    margin: 20px auto;
  }

  #academics {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .academic-div {
      border-bottom: solid 2px white;
      height: 75px;
      width: 300px;
    }

    // MAKING EXPANDABLE CONTENT
    .long-text {
      display: none;
    }
    .expand:hover .short-text {
      display: none;
    }
    .expand:hover .long-text {
      display: flex;
    }

    .expand:hover .long-text-title {
      font-size: 35px;
      text-align: center;
      object-fit: contain;
      white-space: nowrap;
      margin-top: 10px;
    }

    .long-text-box.academics {
      // border: solid 2px magenta;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 70%;
      max-width: calc((1200px / 100 * 70)) ;
      padding-left: 50px;

      .acad-heading{
        font-size: 35px;
      }

    }

    .long-text-inner {
      width: inherit;
      height: inherit;

      .description {
        font-style: italic;
      }

      ul {
        list-style: none;
      }

      #publication-divs {
        width: inherit;
        height: inherit;
        position: absolute;
        // border: 2px $aqua solid;
      }

      .pubs {
        width: 70%;
        height: 30%;
        background-size: cover;
        position: relative;

      }

      
      .pubs-link {
        width: 100%;
        height: inherit;

      }


      .pubs:hover {
        width: 100%;
        z-index: 10;
        cursor: pointer;
        text-align: right;
        position: relative;
        left: 0;
      }

      #myrto {
        background-image: url('../assets/publications/myrto.png');

      }

      #braincando {
        background-image: url('../assets/publications/braincando.png');
        top: -8%;
        left: 10%;
      }

      #adhd-sleep {
        background-image: url('../assets/publications/adhd-sleep.png');
        top: -16%;
        left: 20%;
      }

      #adol-sleep {
        background-image: url('../assets/publications/adol-sleep.png');
        top: -20%;
        left: 30%;
      }

    }
  }


}