// * GENERAL FORMATTING

// * PAGE FORMATTING
.landing-container {
  height: calc(100vh - 50px);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  row-gap: 20px;

  .landing-content {
    height: 400px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    // * TITLES
    .landing-title {
      font-size: min(5vw, 80px);
      line-height: min(5vw, 80px);
      text-align: right;
      margin-top: 0;
      padding-top: 0;

      span {
        color: yellow;
        font-size: 2em;
      }
    }

    .landing-subtitle {
      font-size: min(3vw, 50px);
      text-align: right;

      span {
        color: yellow;
        font-size: 1.5em;
      }
    }
  }
}

.landing-nav {
  height: 400px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .list {
    list-style: none;

    li {
      min-height: 75px;
    }

    // * FUN COLOUR TRANSITION DOTS
    .dot {
      height: 65px;
      width: 65px;
      border-radius: 50%;
      margin: 10px;
      box-shadow: (5px 5px 5px rgba(0, 0, 0, 0.3));
      transition: all .5s ease;
    }
    #aqua {
      background-color: $aqua;
    }
    #pink {
      background-color: $pink;
    }
    #navy {
      background-color: $navy;
    }
    #blue {
      background-color: white;
    }
  }
}

// * TYPEWRITER EFFECT
.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  animation:
    typing 2.5s steps(16, end) forwards;
}

// SECOND LINE APPEAR AFTER FIRST
#type2 {
  animation-delay: 2.5s;
  width: 0;
  border-right: 0;
}

// KEY FRAMES FOR TYPING EFFECT
@keyframes typing {
  from {
    width: 0;
    border-right: .15em solid $pink;
    // ^ Typewriter cursor
  }

  99% {
    width: 99%;
    border-right: .15em solid $pink
  }

  to {
    width: 100%;
    border-right: transparent;
    // Remove typewriter cursor at end
  }
}

// * CHANGE BACKGROUND COLOUR DOT:ONHOVER
.landing-nav .dot:hover:before {
  content: '';
  position: absolute;
  display: block;
  filter: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: all .5s ease;
}

// DIFFERENT PAGE COLOUR FOR EACH DOT
li:nth-of-type(1) .dot:hover:before {
  background-color: $aqua;
}

li:nth-of-type(2) .dot:hover:before {
  background-color: $pink;
}

li:nth-of-type(3) .dot:hover:before {
  background-color: $navy;
}

li:nth-of-type(4) .dot:hover:before {
  background-color: $yellow;
}

// MAKE WHITE DOT MATCH YELLOW BACKGROUND
#blue:hover {
  background-color: $yellow;
}


// ! NOT FOR MOBILE
#mobile-message {
  display: none;
  span {
    color: yellow;
    font-size: 2em;
  }
}

@media screen and (max-width: 600px) {

  .landing-container .landing-content {
    display: none;
  }

  .landing-container .landing-nav {
    display: none;
  }

  .landing-container #mobile-message {
    display: block;
    margin: 0 auto;

    .landing-title {
      font-size: 2.5rem;
    }

    .mobile {
      font-size: 1.5em;
    }

  }

}