body {
  background-color: $blue;  
  h1, h2 {
    font-family: $title;
  }
  
  h1{
    color: white;
  }

  #landing-title {
    font-size: 5em;
    span {
      color: yellow;
      font-size: 2em;
    }
  }
  .landing-subtitle {
    font-size: 3em;
    // line-height: 1em;
    text-align: right;


    span {
      color: yellow;
      font-size: 1.5em;
    }
  }



}

.landing-container {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  font-family: $marker;
  color: white;

  // @keyframes slideInLeft {
  //   0% {
  //     transform: translateX(-100%);
  //   }
  //   100% {
  //     transform: translateX(0);
  //   }
  // }

  .landing-content {
    width: 75%;
    transform: translateY(10%);
  }

  .landing-nav {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    float: right;
    // background-color: magenta;

    .list {
      width: 100%;
      list-style: none;

      li {
  
        min-height: 75px;
        min-width: 300px;
        border: solid 2px white;
        font-size: 30px;
        margin: 0 auto;


        .link {
          font-family: $marker !important;
          color: white;
          text-decoration: none !important;
          vertical-align: -50%;
          padding: 14px;
        }
      }
    }

  }
  

}

// * TYPEWRITER EFFECT
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  // letter-spacing: .15em; /* Adjust as needed */
  animation: 
  typing 2.5s steps(16, end) forwards;

}

#type2 {
  animation-delay: 2.5s;
  width: 0;
  border-right: 0;
}

/* The typing effect */
@keyframes typing {
  from { width: 0; border-right: .15em solid $pink /* The typwriter cursor */;   }
  99% { width: 99%; border-right: .15em solid $pink }
  to { width: 100%; border-right: transparent /* The typwriter cursor */; }
}



// HOVER EFFECT ON MENU LINKS
.link:hover:before {
  content: '';
  position: absolute;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
}

.link:hover {
  font-size: 45px;
  // letter-spacing: 15px;
  // transition: font-size .2s ease-in-out;
  white-space: nowrap;
  cursor: pointer;
}
// a:hover {
//   mix-blend-mode: difference;
// }

li:nth-of-type(1) .link:hover:before {
  background-color: $aqua;
}
li:nth-of-type(2) .link:hover:before {
  background-color: $pink;
}
li:nth-of-type(3) .link:hover:before {
  background-color: $navy;
}
li:nth-of-type(4) .link:hover:before {
  background-color: $blue;
}





