#projects-container {
  height: calc(100vh - 20px);
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  cursor: url('../assets/cursor.png'), auto;

  h1 {
    text-align: left;
    font-size: 35px;
  }

  .proj-selectors {
    width: inherit;
    height: 500px;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid magenta;
    border-bottom: 2px solid magenta;
    // padding: 30px;
    position: relative;

    .content-outer {
      display: flex;
      justify-content: space-around;
      height: inherit;
      width: inherit;
      // border: 2px solid yellow;
      position: absolute;

      z-index: 10;

    }

    .content-outer:has(img):has(.moveLeft) {
      transition: transform .8s ease-in-out;
      transform: translateX(-100vw);
    }

    .proj-content {
      padding: 20px;
      width: inherit;

      .proj-text {
        font-size: 2em;
        margin-top: 0;

      }

      .proj-tech {
        font-family: $title;
        font-size: 1.2em;
      }

      a {
        // text-decoration: none;
        text-decoration-color: yellow;
        font-family: $title;
        font-size: 1.2em;
        color: white;
        transition: all .2s ease-in-out;

      }

    }

    .proj-content-left h2 {
      text-align: right !important;
    }

    .proj-content-left p {
      text-align: right !important;
    }

    .proj-content-left a {
      text-align: right !important;
      // float: right;
    }

    .proj-content-right h2 {
      text-align: left !important;
    }

    .proj-content-right p {
      text-align: left !important;
    }

    .proj-content-right a {
      text-align: left !important;
    }

  }

  .proj-img.moveLeft {
    transition: transform .8s ease-in-out;
    transform: translateX(-100vw);
  }

  .proj-img {
    width: 50%;
    object-fit: contain;
    transition: all .5s ease-in-out;
    z-index: 2;


  }

  .proj-img:hover {
    transform: scale(1.2);
    filter: contrast(1.75) !important;
    cursor: url('../assets/lets-go2.png'), pointer;
    z-index: -30;

  }


  .expand {
    display: none;
  }

  .title-rotate {
    font-size: 35px;
    vertical-align: middle;
    width: inherit;
    text-align: right;
    transition: all .5s ease-in-out;
  }

  .title-rotate:hover {
    font-size: 1.3em;
    font-weight: bold;
    cursor: url('../assets/lets-go2.png'), pointer;
  }

  // FOR MAKING TITLE HIGHLIGHT??
  // Current the animation flickers
  // .proj-content:hover .title-rotate {
  //   box-shadow: inset 100em 0 0 0 yellow;
  //   color: $blue;
  // }



  .img-left.title-rotate {
    text-align: right;
  }


  // * FOR SWITCHING BETWEEN IMG & ACCORDIAN
  .content-inner {
    // border: 2px yellow solid;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 100vw;
    z-index: 10;

    .accordian {
      width: 50%;
    }

    .proj-detail {
      width: 50%;
      color: white;
    }
  }


}