#projects-container {
  height: calc(100vh - 20px);
  max-width: 1200px;
  // border: 2px solid lightgreen;
  margin: 0 auto;
  // background-color: $pink; 
  color: white;
  cursor: url('../assets/cursor.png'), auto;

  h1 {
    text-align: left;
  }

  .proj-selectors {
    width: inherit;
    height: 500px;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid magenta;
    border-bottom: 2px solid magenta;
    padding: 30px;

    .proj-content {
      padding: 20px;
    }

    .proj-content-left h2 {
      text-align: right !important;
    }
    .proj-content-left p {
      text-align: right !important;
    }
    .proj-content-right h2 {
      text-align: left !important;
    }
    .proj-content-right p {
      text-align: left !important;
    }

  }

  .proj-img {
    width: 50%;
    object-fit: contain;
    transition: all .5s ease-in-out;
    z-index: 2;
    // border: 2px solid red;
    // border-radius: 28px;
    
  }

  .proj-img:hover  {
    transform: scale(1.2);
    mix-blend-mode: difference !important;
    filter: invert(.75) !important ;
    // filter: contrast(1.75) !important ;
    cursor: url('../assets/lets-go2.png'), pointer;

  }


  .expand {
    display: none;
  }

  .title-rotate {
    font-size: 50px;
    vertical-align: middle;
    mix-blend-mode: difference;
  }

  .img-left.title-rotate {
    text-align: right;
  }



}