@import './variables.scss';
@import './navbar.scss';
@import './base.scss';
@import './components/landing.scss';
@import './components/about.scss';
@import './components/projects.scss';
@import './components/projects-2.scss';
@import './components/accordian.scss';
@import './components/academics.scss';

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rock+Salt&family=Poiret+One&display=swap');

* {
  text-align: center;
  box-sizing: border-box;
  p {
    font-family: $body;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    // letter-spacing: 5px;
  }
  li {
    font-family: $body;
    // text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  }

  cursor: url('./assets/cursor.png'), auto;
  .link:hover {
    cursor: url('./assets/lets-go2.png'), pointer;
  }
}

// MOUSE

// .custom-cursor {
//   position: fixed;
//   opacity: 0;
//   pointer-events: none;
//   mix-blend-mode: difference;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   background-color: white;
//   transition: transform 350ms ease;
//   transform: translate(-50%, -50%) scale(.3);
//   z-index: 1000;
// }
// .custom-cursor--link {
//   transform: translate(-50%, -50%) scale(1);
// }


