@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rock+Salt&display=swap");
#navbar {
  height: 50px;
  background-color: white;
  border: 2px solid black;
}

#navbar .link {
  text-decoration: none;
  color: black;
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
}

#navbar .link:hover {
  color: #00F0B5;
  font-size: 35px;
}

body {
  background-color: #070707;
}

body h1, body h2 {
  font-family: "Permanent Marker", cursive;
}

body h1 {
  color: white;
}

.landing-container {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Permanent Marker", cursive;
  color: white;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.landing-container .landing-content {
  width: 75%;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.landing-container .landing-content h1 {
  font-size: 40px;
  -webkit-animation: 1s ease-out 0s 1 slideInLeft;
          animation: 1s ease-out 0s 1 slideInLeft;
}

.landing-container .landing-content h2 {
  font-size: 30px;
  -webkit-animation: 1.2s ease-out 0s 1 slideInLeft;
          animation: 1.2s ease-out 0s 1 slideInLeft;
}

.landing-container .landing-nav {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
}

.landing-container .landing-nav .list {
  width: 100%;
  list-style: none;
}

.landing-container .landing-nav .list li {
  min-height: 75px;
  min-width: 300px;
  border: solid 2px white;
  font-size: 30px;
  margin: 0 auto;
}

.landing-container .landing-nav .list li .link {
  color: white;
  text-decoration: none !important;
  vertical-align: -30%;
  padding: 14px;
}

.link:hover:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.link:hover {
  font-size: 45px;
  white-space: nowrap;
  cursor: pointer;
}

li:nth-of-type(1) .link:hover:before {
  background-color: #00F0B5;
}

li:nth-of-type(2) .link:hover:before {
  background-color: #FF3CC7;
}

li:nth-of-type(3) .link:hover:before {
  background-color: #454ADE;
}

li:nth-of-type(4) .link:hover:before {
  background-color: #141B41;
}

#about-container {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: aquamarine;
  color: white;
}

#about-container #about-left {
  width: 75%;
}

#about-container #about-right {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 2px blue;
}

#about-container #about-right .about-div {
  border: solid 2px white;
  height: 75px;
  width: 300px;
}

#about-container #about-right .long-text {
  display: none;
}

#about-container #about-right .expand:hover .short-text {
  display: none;
}

#about-container #about-right .expand:hover .long-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about-container #about-right .expand:hover .long-text-title {
  font-size: 35px;
  text-align: center;
  -o-object-fit: contain;
     object-fit: contain;
  white-space: nowrap;
}

#about-container #about-right .long-text-box {
  border: solid 2px magenta;
  position: absolute;
  top: 20%;
  left: 10%;
  width: 60vw;
  height: 60vh;
}

#about-container #about-right #se-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-container #about-right #se-img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#about-container #about-right #se-desc {
  width: 500px;
  margin-top: 30px;
}

#about-container #about-right .brain-img {
  height: 300px;
}

#about-container #about-right #brain-img2 {
  -webkit-transform: translate(20%, 110%);
          transform: translate(20%, 110%);
}

#about-container #about-right #neuro-desc {
  height: 300px;
  min-width: 400px;
  -webkit-transform: translate(-140%, 70%);
          transform: translate(-140%, 70%);
  border: solid 2px blue;
}

#about-container #about-right #snowboarder-img {
  height: 300px;
  width: 300px;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

#about-container #about-right #snowboarder-desc {
  height: 400px;
  width: 400px;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  border: solid 2px blue;
}

#projects-container {
  height: calc(100vh - 20px);
  max-width: 1200px;
  border: 2px solid lightgreen;
  margin: 0 auto;
  background-color: #FF3CC7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#projects-container .proj-selectors {
  height: 40%;
  width: calc(100% / 5);
  padding: 0 10px;
  border: 2px solid magenta;
  text-align: center;
  display: inline-block;
}

#projects-container .proj-selectors .title-rotate {
  -webkit-transform: rotate(270deg) translateX(-50%);
          transform: rotate(270deg) translateX(-50%);
  text-align: end;
  color: white;
  font-family: "Permanent Marker", cursive;
  position: relative;
  overflow-wrap: normal;
  width: 120%;
}

#projects-container .proj-selectors:hover {
  cursor: pointer;
}

#projects-container .expand {
  display: none;
}

#projects-container .proj-selectors:hover .expand {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60%;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#projects-container .proj-selectors:hover .expand .expand-content {
  width: 40%;
  height: 80%;
  padding: 20px;
  border: 2px solid yellow;
  background-color: white;
  margin-top: 5%;
  margin-right: 30px;
}

#projects-container .proj-selectors:hover .expand .accordian {
  position: absolute;
  top: 0;
  right: 0;
}

#projects-container .proj-selectors:hover .expand #mobero-img {
  width: 55%;
  -o-object-fit: contain;
     object-fit: contain;
}

html, body {
  width: 100%;
  height: 100%;
}

h1 {
  position: relative;
  margin-bottom: 45px;
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  color: #424242;
}

.gallery-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  border: 1px solid lightgreen;
  border-radius: 4px;
  margin: 20px;
}

.item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  float: right;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-box-flex 0.8s ease;
  transition: -webkit-box-flex 0.8s ease;
  transition: flex 0.8s ease;
  transition: flex 0.8s ease, -webkit-box-flex 0.8s ease, -ms-flex 0.8s ease;
  border: 1px solid lightgreen;
}

.item:hover {
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
}

.item:hover .expand-accord {
  display: block;
  -webkit-transition-delay: display .4s ease-out;
          transition-delay: display .4s ease-out;
}

#proj4 .item-1 {
  background-image: url("../assets/projects/p4-img1.png");
}

#proj4 .item-2 {
  background-image: url("../assets/projects/p4-img2.png");
}

#proj4 .item-3 {
  background-image: url("../assets/projects/p4-img3.png");
}

#proj4 .item-4 {
  background-image: url("../assets/projects/p4-img5.png");
}

#proj4 .item-5 {
  background-image: url("../assets/projects/p4-img4.png");
}

#proj4 .item-6 {
  background-image: url("../assets/projects/p4-img6.png");
}

#proj3 .item-1 {
  background-image: url("../assets/projects/p3-img2.png");
}

#proj3 .item-2 {
  background-image: url("../assets/projects/p3-img1.png");
}

#proj3 .item-3 {
  background-image: url("../assets/projects/p3-img3.png");
}

#proj3 .item-4 {
  background-image: url("../assets/projects/p3-img4.png");
}

#proj2 .item-1 {
  background-image: url("../assets/projects/p2-img1.png");
}

#proj2 .item-2 {
  background-image: url("../assets/projects/p2-img2.png");
}

#proj2 .item-3 {
  background-image: url("../assets/projects/p2-img3.png");
}

#proj2 .item-4 {
  background-image: url("../assets/projects/p2-img4.png");
}

#proj2 .item-5 {
  background-image: url("../assets/projects/p2-img5.png");
}

#proj1 .item-1 {
  background-image: url("../assets/projects/p1-img1.png");
}

#proj1 .item-2 {
  background-image: url("../assets/projects/p1-img2.png");
}

#proj1 .item-3 {
  background-image: url("../assets/projects/p1-img3.png");
}

#proj1 .item-4 {
  background-image: url("../assets/projects/p1-img4.png");
}

#academics-container {
  color: white;
  background-color: #454ADE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

#academics-container #academics-right {
  width: 75%;
}

#academics-container #academics-left {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 2px blue;
}

#academics-container #academics-left .academic-div {
  border: solid 2px white;
  height: 75px;
  width: 300px;
}

#academics-container #academics-left .long-text {
  display: none;
}

#academics-container #academics-left .expand:hover .short-text {
  display: none;
}

#academics-container #academics-left .expand:hover .long-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#academics-container #academics-left .expand:hover .long-text-title {
  font-size: 35px;
  text-align: center;
  -o-object-fit: contain;
     object-fit: contain;
  white-space: nowrap;
  margin-top: 10px;
}

#academics-container #academics-left .long-text-box.academics {
  border: solid 2px magenta;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-38%);
          transform: translateX(-38%);
  width: 100%;
  height: 70%;
  max-width: calc((1200px / 100 * 70));
  padding-left: 50px;
}

#academics-container #academics-left .long-text-inner {
  width: inherit;
  height: inherit;
}

#academics-container #academics-left .long-text-inner .description {
  font-style: italic;
}

#academics-container #academics-left .long-text-inner ul {
  list-style: none;
}

#academics-container #academics-left .long-text-inner #publication-divs {
  width: inherit;
  height: inherit;
  position: absolute;
}

#academics-container #academics-left .long-text-inner .pubs {
  width: 70%;
  height: 30%;
  border: 2px #00F0B5 solid;
  background-size: cover;
  position: relative;
}

#academics-container #academics-left .long-text-inner .pubs-link {
  width: 100%;
  height: inherit;
}

#academics-container #academics-left .long-text-inner .pubs:hover {
  width: 100%;
  z-index: 10;
  cursor: pointer;
  text-align: right;
  position: relative;
  left: 0;
}

#academics-container #academics-left .long-text-inner #myrto {
  background-image: url("../assets/publications/myrto.png");
}

#academics-container #academics-left .long-text-inner #braincando {
  background-image: url("../assets/publications/braincando.png");
  top: -8%;
  left: 10%;
}

#academics-container #academics-left .long-text-inner #adhd-sleep {
  background-image: url("../assets/publications/adhd-sleep.png");
  top: -16%;
  left: 20%;
}

#academics-container #academics-left .long-text-inner #adol-sleep {
  background-image: url("../assets/publications/adol-sleep.png");
  top: -20%;
  left: 30%;
}

* {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
  z-index: 1000;
}

.custom-cursor--link {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
/*# sourceMappingURL=main.css.map */