@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rock+Salt&family=Poiret+One&display=swap");
#navbar {
  height: 50px;
  background-color: white;
  border: 2px solid black;
}

#navbar .link {
  text-decoration: none;
  color: black;
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
}

#navbar .link:hover {
  color: #00F0B5;
  font-size: 35px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 10;
  -webkit-animation: slideOut .8s ease-in-out forwards;
          animation: slideOut .8s ease-in-out forwards;
}

.overlay#about {
  background-color: #00F0B5;
}

.overlay#projects {
  background-color: #FF3CC7;
}

.overlay#academics {
  background-color: #454ADE;
}

.overlay#contact {
  background-color: #141B41;
}

@-webkit-keyframes slideOut {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@keyframes slideOut {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

body {
  background-color: #070707;
}

body h1, body h2 {
  font-family: "Permanent Marker", cursive;
}

body h1 {
  color: white;
}

.landing-container {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Permanent Marker", cursive;
  color: white;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.landing-container .landing-content {
  width: 75%;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.landing-container .landing-content h1 {
  font-size: 40px;
  -webkit-animation: 1s ease-out 0s 1 slideInLeft;
          animation: 1s ease-out 0s 1 slideInLeft;
}

.landing-container .landing-content h2 {
  font-size: 30px;
  -webkit-animation: 1.2s ease-out 0s 1 slideInLeft;
          animation: 1.2s ease-out 0s 1 slideInLeft;
}

.landing-container .landing-nav {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
}

.landing-container .landing-nav .list {
  width: 100%;
  list-style: none;
}

.landing-container .landing-nav .list li {
  min-height: 75px;
  min-width: 300px;
  border: solid 2px white;
  font-size: 30px;
  margin: 0 auto;
}

.landing-container .landing-nav .list li .link {
  font-family: "Permanent Marker", cursive !important;
  color: white;
  text-decoration: none !important;
  vertical-align: -50%;
  padding: 14px;
}

.link:hover:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.link:hover {
  font-size: 45px;
  white-space: nowrap;
  cursor: pointer;
}

li:nth-of-type(1) .link:hover:before {
  background-color: #00F0B5;
}

li:nth-of-type(2) .link:hover:before {
  background-color: #FF3CC7;
}

li:nth-of-type(3) .link:hover:before {
  background-color: #454ADE;
}

li:nth-of-type(4) .link:hover:before {
  background-color: #141B41;
}

#about-container {
  color: white;
  max-width: 1400px;
  margin: 0 auto;
}

#about-container #about-title {
  margin-bottom: 20px !important;
}

#about-container .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: inherit;
  width: inherit;
}

#about-container .about-content .about-div {
  padding: 20px;
  margin: 10px;
  border: 2px solid #00F0B5;
  width: calc((100% /3) - 10px);
}

#about-container .about-content .about-div .about-top {
  border: 2px solid #FF3CC7;
  width: 100%;
  height: 80%;
}

#about-container .about-content .about-div .about-top .top-contents {
  width: 100%;
}

#about-container .about-content .about-div .about-top .img-overlay {
  background-image: url("../assets/boardingCloseup.png");
  width: 100%;
}

#about-container .about-content .about-div .about-bottom {
  margin: 20px auto;
  width: 100%;
}

#about-container .about-content .about-div .about-bottom .about-heading {
  font-size: 35px;
  padding: 10px;
  white-space: nowrap;
}

#about-container .about-content .about-div .about-bottom .about-link {
  text-decoration: none;
  font-family: "Rock Salt", cursive;
  border-radius: 6px;
  padding: 10px 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF3CC7), to(transparent)), -webkit-gradient(linear, right bottom, left top, from(#00F0B5), to(transparent)), -webkit-gradient(linear, left bottom, right top, from(#454ADE), to(transparent));
  background: linear-gradient(#FF3CC7, transparent), linear-gradient(to top left, #00F0B5, transparent), linear-gradient(to top right, #454ADE, transparent);
  background-blend-mode: screen;
}

#about-container .about-text {
  text-align: justify !important;
}

#projects-container {
  height: calc(100vh - 20px);
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  cursor: url("../assets/cursor.png"), auto;
}

#projects-container h1 {
  text-align: left;
}

#projects-container .proj-selectors {
  width: inherit;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 2px solid magenta;
  border-bottom: 2px solid magenta;
  padding: 30px;
}

#projects-container .proj-selectors .proj-content {
  padding: 20px;
}

#projects-container .proj-selectors .proj-content-left h2 {
  text-align: right !important;
}

#projects-container .proj-selectors .proj-content-left p {
  text-align: right !important;
}

#projects-container .proj-selectors .proj-content-right h2 {
  text-align: left !important;
}

#projects-container .proj-selectors .proj-content-right p {
  text-align: left !important;
}

#projects-container .proj-img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 2;
}

#projects-container .proj-img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  mix-blend-mode: difference !important;
  -webkit-filter: invert(0.75) !important;
          filter: invert(0.75) !important;
  cursor: url("../assets/lets-go.png"), pointer;
}

#projects-container .expand {
  display: none;
}

#projects-container .title-rotate {
  font-size: 50px;
  vertical-align: middle;
  mix-blend-mode: difference;
}

#projects-container .img-left.title-rotate {
  text-align: right;
}

html, body {
  width: 100%;
  height: 100%;
}

h1 {
  position: relative;
  margin-bottom: 45px;
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  color: #424242;
}

.gallery-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  border: 1px solid lightgreen;
  border-radius: 4px;
  margin: 20px;
}

.item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  float: right;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-box-flex 0.8s ease;
  transition: -webkit-box-flex 0.8s ease;
  transition: flex 0.8s ease;
  transition: flex 0.8s ease, -webkit-box-flex 0.8s ease, -ms-flex 0.8s ease;
  border: 1px solid lightgreen;
}

.item:hover {
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
}

.item:hover .expand-accord {
  display: block;
  -webkit-transition-delay: display .4s ease-out;
          transition-delay: display .4s ease-out;
}

#proj4 .item-1 {
  background-image: url("../assets/projects/p4-img1.png");
}

#proj4 .item-2 {
  background-image: url("../assets/projects/p4-img2.png");
}

#proj4 .item-3 {
  background-image: url("../assets/projects/p4-img3.png");
}

#proj4 .item-4 {
  background-image: url("../assets/projects/p4-img5.png");
}

#proj4 .item-5 {
  background-image: url("../assets/projects/p4-img4.png");
}

#proj4 .item-6 {
  background-image: url("../assets/projects/p4-img6.png");
}

#proj3 .item-1 {
  background-image: url("../assets/projects/p3-img2.png");
}

#proj3 .item-2 {
  background-image: url("../assets/projects/p3-img1.png");
}

#proj3 .item-3 {
  background-image: url("../assets/projects/p3-img3.png");
}

#proj3 .item-4 {
  background-image: url("../assets/projects/p3-img4.png");
}

#proj2 .item-1 {
  background-image: url("../assets/projects/p2-img1.png");
}

#proj2 .item-2 {
  background-image: url("../assets/projects/p2-img2.png");
}

#proj2 .item-3 {
  background-image: url("../assets/projects/p2-img3.png");
}

#proj2 .item-4 {
  background-image: url("../assets/projects/p2-img4.png");
}

#proj2 .item-5 {
  background-image: url("../assets/projects/p2-img5.png");
}

#proj1 .item-1 {
  background-image: url("../assets/projects/p1-img1.png");
}

#proj1 .item-2 {
  background-image: url("../assets/projects/p1-img2.png");
}

#proj1 .item-3 {
  background-image: url("../assets/projects/p1-img3.png");
}

#proj1 .item-4 {
  background-image: url("../assets/projects/p1-img4.png");
}

#academics-container {
  color: white;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

#academics-container .page-title {
  margin: 0 auto;
}

#academics-container #academics-left {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#academics-container #academics-left .academic-div {
  border: solid 2px white;
  height: 75px;
  width: 300px;
}

#academics-container #academics-left .long-text {
  display: none;
}

#academics-container #academics-left .expand:hover .short-text {
  display: none;
}

#academics-container #academics-left .expand:hover .long-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#academics-container #academics-left .expand:hover .long-text-title {
  font-size: 35px;
  text-align: center;
  -o-object-fit: contain;
     object-fit: contain;
  white-space: nowrap;
  margin-top: 10px;
}

#academics-container #academics-left .long-text-box.academics {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-38%);
          transform: translateX(-38%);
  width: 100%;
  height: 70%;
  max-width: calc((1200px / 100 * 70));
  padding-left: 50px;
}

#academics-container #academics-left .long-text-box.academics .acad-heading {
  font-size: 35px;
}

#academics-container #academics-left .long-text-inner {
  width: inherit;
  height: inherit;
}

#academics-container #academics-left .long-text-inner .description {
  font-style: italic;
}

#academics-container #academics-left .long-text-inner ul {
  list-style: none;
}

#academics-container #academics-left .long-text-inner #publication-divs {
  width: inherit;
  height: inherit;
  position: absolute;
}

#academics-container #academics-left .long-text-inner .pubs {
  width: 70%;
  height: 30%;
  border: 2px #00F0B5 solid;
  background-size: cover;
  position: relative;
}

#academics-container #academics-left .long-text-inner .pubs-link {
  width: 100%;
  height: inherit;
}

#academics-container #academics-left .long-text-inner .pubs:hover {
  width: 100%;
  z-index: 10;
  cursor: pointer;
  text-align: right;
  position: relative;
  left: 0;
}

#academics-container #academics-left .long-text-inner #myrto {
  background-image: url("../assets/publications/myrto.png");
}

#academics-container #academics-left .long-text-inner #braincando {
  background-image: url("../assets/publications/braincando.png");
  top: -8%;
  left: 10%;
}

#academics-container #academics-left .long-text-inner #adhd-sleep {
  background-image: url("../assets/publications/adhd-sleep.png");
  top: -16%;
  left: 20%;
}

#academics-container #academics-left .long-text-inner #adol-sleep {
  background-image: url("../assets/publications/adol-sleep.png");
  top: -20%;
  left: 30%;
}

* {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: url("./assets/cursor.png"), auto;
}

* p {
  font-family: "Poiret One", cursive;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
}

* li {
  font-family: "Poiret One", cursive;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

* .link:hover {
  cursor: url("./assets/lets-go2.png"), pointer;
}
/*# sourceMappingURL=main.css.map */