@import './variables.scss';
@import './base.scss';
@import './navbar.scss';

@import './components/landing.scss';
@import './components/about.scss';
@import './components/projects.scss';
@import './components/accordian.scss';
@import './components/academics.scss';
@import './components/contact.scss';
@import './helpers/skills.scss';

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Sawarabi+Mincho&family=Square+Peg&family=Permanent+Marker&display=swap');


// GENERAL FORMATTING
* {
  text-align: center;
  box-sizing: border-box;
  
  p {
    font-family: $body;
    // text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    // letter-spacing: 5px;
  }
  li {
    font-family: $body;
    // text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  }

  cursor: url('./assets/cursor.png'), auto;
  .link:hover {
    cursor: url('./assets/lets-go2.png'), pointer;
  }
}





