@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Sawarabi+Mincho&family=Square+Peg&family=Permanent+Marker&display=swap");
#navbar {
  height: 50px;
  background-color: white;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#navbar .link {
  text-decoration: none;
  color: black;
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
  width: 200px;
}

#navbar .link:hover {
  color: #00F0B5;
  font-size: 35px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 10;
  -webkit-animation: slideOut .8s ease-in-out forwards;
          animation: slideOut .8s ease-in-out forwards;
}

.overlay#about {
  background-color: #00F0B5;
}

.overlay#projects {
  background-color: #FF3CC7;
}

.overlay#academics {
  background-color: #454ADE;
}

.overlay#contact {
  background-color: #141B41;
}

@-webkit-keyframes slideOut {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@keyframes slideOut {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

body {
  background-color: #454ADE;
}

body h1, body h2 {
  font-family: "Sawarabi Mincho", serif;
}

body h1 {
  color: white;
}

body #landing-title {
  font-size: 5em;
}

body #landing-title span {
  color: yellow;
  font-size: 5.2em;
}

body #landing-subtitle {
  font-size: 3em;
}

.landing-container {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Permanent Marker", cursive;
  color: white;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.landing-container .landing-content {
  width: 75%;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.landing-container .landing-content h1 {
  font-size: 40px;
  -webkit-animation: 1s ease-out 0s 1 slideInLeft;
          animation: 1s ease-out 0s 1 slideInLeft;
}

.landing-container .landing-content h2 {
  font-size: 30px;
  -webkit-animation: 1.2s ease-out 0s 1 slideInLeft;
          animation: 1.2s ease-out 0s 1 slideInLeft;
}

.landing-container .landing-nav {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
}

.landing-container .landing-nav .list {
  width: 100%;
  list-style: none;
}

.landing-container .landing-nav .list li {
  min-height: 75px;
  min-width: 300px;
  border: solid 2px white;
  font-size: 30px;
  margin: 0 auto;
}

.landing-container .landing-nav .list li .link {
  font-family: "Permanent Marker", cursive !important;
  color: white;
  text-decoration: none !important;
  vertical-align: -50%;
  padding: 14px;
}

.link:hover:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.link:hover {
  font-size: 45px;
  white-space: nowrap;
  cursor: pointer;
}

li:nth-of-type(1) .link:hover:before {
  background-color: #00F0B5;
}

li:nth-of-type(2) .link:hover:before {
  background-color: #FF3CC7;
}

li:nth-of-type(3) .link:hover:before {
  background-color: #141B41;
}

li:nth-of-type(4) .link:hover:before {
  background-color: #454ADE;
}

#about-container {
  color: white;
  max-width: 1400px;
  margin: 0 auto;
}

#about-container .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: inherit;
  width: inherit;
}

#about-container .about-content .about-div {
  padding: 20px;
  margin: 10px;
  border: 2px solid #00F0B5;
  width: calc((100% /3) - 10px);
}

#about-container .about-content .about-div .about-heading {
  font-size: 35px;
  white-space: nowrap;
  color: #00F0B5 !important;
}

#about-container .about-content .about-div #se-text {
  background-color: rgba(255, 255, 255, 0.9);
}

#about-container .about-content .about-div .about-top {
  border: 2px solid #FF3CC7;
  background-color: white;
  position: relative;
  width: 100%;
  height: 90%;
  overflow: hidden;
}

#about-container .about-content .about-div .about-top .about-text {
  width: 100%;
}

#about-container .about-content .about-div .about-top .about-text p {
  font-size: 40px;
  color: #454ADE;
}

#about-container .about-link {
  margin: 20px auto;
  text-decoration: none;
  font-family: "Square Peg", cursive;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  border-radius: 6px;
  padding: 10px 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF3CC7), to(transparent)), -webkit-gradient(linear, right bottom, left top, from(#00F0B5), to(transparent)), -webkit-gradient(linear, left bottom, right top, from(#454ADE), to(transparent));
  background: linear-gradient(#FF3CC7, transparent), linear-gradient(to top left, #00F0B5, transparent), linear-gradient(to top right, #454ADE, transparent);
  background-blend-mode: screen;
  width: 100%;
}

#about-container .about-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  font-size: 25px;
  cursor: url("../assets/lets-go2.png"), pointer;
}

#about-container .about-text {
  text-align: justify !important;
}

#about-container .img-overlay {
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: 100;
  position: absolute;
  background-size: cover;
}

#about-container #se-img {
  background-image: url("../assets/Excalidraw.png");
  background-position: bottom;
}

#about-container #neuro-img {
  background-image: url("../assets/brain1.JPG");
  background-position: center;
}

#about-container #snowboarder-img {
  background-image: url("../assets/boardingCloseup.png");
}

#about-container .about-top:hover .img-overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#projects-container {
  height: calc(100vh - 20px);
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  cursor: url("../assets/cursor.png"), auto;
}

#projects-container h1 {
  text-align: left;
}

#projects-container .proj-selectors {
  width: inherit;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 2px solid magenta;
  border-bottom: 2px solid magenta;
  position: relative;
}

#projects-container .proj-selectors .content-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: inherit;
  width: inherit;
  position: absolute;
  z-index: 10;
}

#projects-container .proj-selectors .content-outer:has(img):has(.moveLeft) {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

#projects-container .proj-selectors .content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 100vw;
  z-index: 10;
}

#projects-container .proj-selectors .content-inner .accordian {
  width: 50%;
}

#projects-container .proj-selectors .content-inner .proj-detail {
  width: 50%;
  color: white;
}

#projects-container .proj-selectors .proj-content {
  padding: 20px;
}

#projects-container .proj-selectors .proj-content .proj-text {
  font-size: 30px;
}

#projects-container .proj-selectors .proj-content-left h2 {
  text-align: right !important;
}

#projects-container .proj-selectors .proj-content-left p {
  text-align: right !important;
}

#projects-container .proj-selectors .proj-content-right h2 {
  text-align: left !important;
}

#projects-container .proj-selectors .proj-content-right p {
  text-align: left !important;
}

#projects-container .proj-img.moveLeft {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

#projects-container .proj-img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 2;
}

#projects-container .proj-img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: contrast(1.75) !important;
          filter: contrast(1.75) !important;
  cursor: url("../assets/lets-go2.png"), pointer;
  z-index: -30;
}

#projects-container .expand {
  display: none;
}

#projects-container .title-rotate {
  font-size: 50px;
  vertical-align: middle;
}

#projects-container .img-left.title-rotate {
  text-align: right;
}

html, body {
  width: 100%;
  height: 100%;
}

h1 {
  position: relative;
  margin-bottom: 45px;
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  color: #424242;
}

.gallery-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 400px;
  border: 1px solid lightgreen;
  border-radius: 4px;
  margin: 20px;
}

.item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  float: right;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-box-flex 0.8s ease;
  transition: -webkit-box-flex 0.8s ease;
  transition: flex 0.8s ease;
  transition: flex 0.8s ease, -webkit-box-flex 0.8s ease, -ms-flex 0.8s ease;
  border: 1px solid lightgreen;
  z-index: 100;
}

.item:hover {
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
}

.item:hover .expand-accord {
  display: block;
  -webkit-transition-delay: display .4s ease-out;
          transition-delay: display .4s ease-out;
}

#proj4.item-1 {
  background-image: url("../assets/projects/p4-img1.png");
}

#proj4.item-2 {
  background-image: url("../assets/projects/p4-img2.png");
}

#proj4.item-3 {
  background-image: url("../assets/projects/p4-img3.png");
}

#proj4.item-4 {
  background-image: url("../assets/projects/p4-img5.png");
}

#proj4.item-5 {
  background-image: url("../assets/projects/p4-img4.png");
}

#proj4.item-6 {
  background-image: url("../assets/projects/p4-img6.png");
}

#proj3 .item-1 {
  background-image: url("../assets/projects/p3-img1.png");
}

#proj3 .item-2 {
  background-image: url("../assets/projects/p3-img2.png");
}

#proj3 .item-3 {
  background-image: url("../assets/projects/p3-img3.png");
}

#proj3 .item-4 {
  background-image: url("../assets/projects/p3-img4.png");
}

#proj2 .item-1 {
  background-image: url("../assets/projects/p2-img1.png");
}

#proj2 .item-2 {
  background-image: url("../assets/projects/p2-img2.png");
}

#proj2 .item-3 {
  background-image: url("../assets/projects/p2-img3.png");
}

#proj2 .item-4 {
  background-image: url("../assets/projects/p2-img4.png");
}

#proj2 .item-5 {
  background-image: url("../assets/projects/p2-img5.png");
}

#proj1 .item-1 {
  background-image: url("../assets/projects/p1-img1.png");
}

#proj1 .item-2 {
  background-image: url("../assets/projects/p1-img2.png");
}

#proj1 .item-3 {
  background-image: url("../assets/projects/p1-img3.png");
}

#proj1 .item-4 {
  background-image: url("../assets/projects/p1-img4.png");
}

#academics-container {
  color: white;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

#academics-container .page-title {
  margin: 20px auto;
}

#academics-container #academics {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#academics-container #academics .academic-div {
  border-bottom: solid 2px white;
  height: 75px;
  width: 300px;
}

#academics-container #academics .long-text {
  display: none;
}

#academics-container #academics .expand:hover .short-text {
  display: none;
}

#academics-container #academics .expand:hover .long-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#academics-container #academics .expand:hover .long-text-title {
  font-size: 35px;
  -o-object-fit: contain;
     object-fit: contain;
  white-space: nowrap;
  margin-top: 10px;
}

#academics-container #academics .long-text-box.academics {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 70%;
  max-width: calc((1200px / 100 * 90));
}

#academics-container #academics .long-text-box.academics .acad-heading {
  font-size: 35px;
}

#academics-container #academics .long-text-inner {
  width: inherit;
  height: inherit;
  font-size: 35px;
  background-color: whitesmoke;
  color: black;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#academics-container #academics .long-text-inner .description {
  font-style: italic;
  font-size: 35px;
  padding: 20px;
  text-align: center;
  line-height: 110%;
}

#academics-container #academics .long-text-inner ul {
  list-style: none;
}

#academics-container #academics .long-text-inner ul li {
  margin-top: 0;
  padding: 0;
}

#academics-container #academics .long-text-inner #publication-divs {
  width: inherit;
  height: inherit;
  position: absolute;
}

#academics-container #academics .long-text-inner .pubs {
  width: 70%;
  height: 50%;
  background-size: cover;
  position: relative;
}

#academics-container #academics .long-text-inner .pubs-link {
  width: 100%;
  height: inherit;
}

#academics-container #academics .long-text-inner .pubs:hover {
  width: 100%;
  z-index: 10;
  cursor: pointer;
  text-align: right;
  position: relative;
  left: 0;
}

#academics-container #academics .long-text-inner .pubs:hover #emoji {
  display: none;
}

#academics-container #academics .long-text-inner #myrto {
  background-image: url("../assets/publications/myrto.png");
  background-position: bottom;
}

#academics-container #academics .long-text-inner #braincando {
  background-image: url("../assets/publications/braincando.png");
  top: -8%;
  left: 10%;
}

#academics-container #academics .long-text-inner #adhd-sleep {
  background-image: url("../assets/publications/adhd-sleep.png");
  background-position: bottom;
  top: -16%;
  left: 20%;
}

#academics-container #academics .long-text-inner #adol-sleep {
  background-image: url("../assets/publications/adol-sleep.png");
  top: -20%;
  left: 30%;
}

#academics-container #emoji {
  background-image: url("../assets/geek.png");
  background-position: center;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: 20px auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#academics-container #emoji:hover {
  background-image: url("../assets/wink.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-top: 2px solid magenta;
  background-color: white;
}

.skills .tech {
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
}

.skills #html {
  background-image: url(../assets/logos/html.png);
}

.skills #css {
  background-image: url(../assets/logos/css.png);
}

.skills #js {
  background-image: url(../assets/logos/js.png);
}

.skills #boots {
  background-image: url(../assets/logos/boots.png);
}

.skills #sass {
  background-image: url(../assets/logos/sass.png);
}

.skills #react {
  background-image: url(../assets/logos/react.png);
}

.skills #python {
  background-image: url(../assets/logos/python.png);
}

.skills #django {
  background-image: url(../assets/logos/django.png);
}

.skills #post {
  background-image: url(../assets/logos/post.png);
}

.skills #mongo {
  background-image: url(../assets/logos/mongo.png);
  width: 30px;
}

.skills #node {
  background-image: url(../assets/logos/node.png);
  width: 100px;
  background-size: contain;
}

.skills #express {
  background-image: url(../assets/logos/express.png);
  width: 100px;
  background-size: contain;
}

* {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: url("./assets/cursor.png"), auto;
}

* p {
  font-family: "Square Peg", cursive;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
}

* li {
  font-family: "Square Peg", cursive;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

* .link:hover {
  cursor: url("./assets/lets-go2.png"), pointer;
}

.contact-link {
  padding: 10px 20px;
  text-decoration: none;
  font-family: "Square Peg", cursive;
  color: white;
  font-size: 35px;
  font-weight: bold;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

.contact-link:hover {
  color: #00F0B5;
  font-size: 55px;
  cursor: url("./assets/lets-go2.png"), pointer;
}
/*# sourceMappingURL=main.css.map */