.navbar {
  height: 50px;
  background-color: white;
  border: 2px solid black;
  display: flex;

}


.navbar .link {
  text-decoration: none;
  color: black;
  font-family: $marker;
  font-size: 30px;
  width: 200px;
  position: relative;
  z-index: 10 !important;

  transition: all .5s ease;
}

.navbar .link::before {
  content: '';
  background-color: $aqua;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  // height: 0;
  z-index: -1;

  transform: scaleY(0);
  transform-origin: bottom;

  transition: all .5s ease;
}

.navbar .link:hover {
  color: white;
  // font-size: .1rem;
  letter-spacing: .1rem;

}

.navbar .link:hover::before {
  bottom: 0;
  // height: 100%;

  transform: scaleY(1);
  transform-origin: top;
}

.logo {
  height: 45px;
  object-fit: contain;

}

// RESPONSIVE FOR DESKTOP
#navbar-desktop {
  justify-content: space-around;
  z-index: 1000;
  overflow: hidden;
}

#navbar-mobile {
  display: none;
}

// RESPONSIVE FOR MOBILE
@media screen and (max-width: 600px) {

  #navbar-desktop {
    display: none;
  }

  #navbar-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: visible;
    position: absolute;
    top: 0;
    right: 0;

    transition: all 0.3s ease;

    .logo {
      position: absolute;
      left: 10px;
    }
  }

  #hamburger-menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1000;
    border-radius: 0 0 4px 4px;
    // box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    
    position: absolute;
    top: 45px;
    right: -45vw;
    width: 40vw;
    height: 200px;
    padding-top: 5px;

    transition: all .3s ease-in-out;

    .hamburger-link {
      text-align: right;
      padding-right: 15px;
      font-size: 2rem;
      color: $navy;

      font-family: $title;
      font-weight: bold;
      text-decoration: none;
      vertical-align: -50%;
    }
    .hamburger-link:hover {
      color: $pink;
      // cursor: url('./assets/circle-big.png'), pointer;
      // background-color: $yellow;

    }
  }

  // * HAMBURGER MENU SLIDE IN ONCLICK
  #hamburger-menu.active {
    right: 0;
    opacity: .9;
  }

  .icon {
    width: 50px;
    height: 50px;
    padding: 8px;
    // border: 2px solid lime;
  }

  .burger {
    display: block;
    width: 33px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    background: $pink;
    border-radius: 3px;
    z-index: 1;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  // * HAMBURGER-X TRANSITION
  #hamburger.active {
    .burger {
      background: $blue;
    }

    .burger:nth-child(2) {
      opacity: 0;
    }

    .burger:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
    }

    .burger:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
    }
  }



}