// Colours
$navy: #141B41;
$blue: #454ADE;
$pink: #FF3CC7;
$aqua: #00F0B5;
$yellow: #FCF300;
$lblue: #C4D7F2;
$black: #070707;

// Fonts
$marker: 'Permanent Marker', cursive;
$RS: 'Rock Salt', cursive;
$body: 'Poiret One', cursive;